#individual files
start.R

# not needed files in www
App/www/*.html
App/www/*.jpg
App/www/*.jpeg

# files in out 
App/out/*.csv

# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf
