export(aggregate_time)
export(complete_dates)
export(explore_cos_data)
export(fdc_compute)
export(fdc_plot)
export(get_viscos_example)
export(main_of_barplot)
export(main_of_compute)
export(main_of_rasterplot)
export(mark_periods)
export(of_compare)
export(of_cor)
export(of_explore)
export(of_invert_nse)
export(of_kge)
export(of_nse)
export(of_p_bias)
export(of_rmeans)
export(of_rmse)
export(of_rsd)
export(of_ve)
export(peak_plot)
export(remove_junk)
export(serve)
export(viscos_options)
import(dplyr)
import(dygraphs)
import(ggplot2)
import(hydroGOF)
import(magrittr)
import(miniUI)
import(pasta)
import(shiny)
import(zoo)
importFrom(purrr,map_df)
importFrom(tibble,tibble)
importFrom(xts,)
importFrom(xts,xts)
